h1 {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: #f26136;
  }
  .btn {
    background-color: #928c80;
    color: black;
  }
  .btn:hover {
    background-color: #f26136;
  }
  ul {
    list-style-type: none;
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    .logo {
        width: 280px;
        height: 100px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .nav-links {
        gap: 30px;
        display: flex;
        margin-left: 40px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        width: 530px;
        justify-content: center;
        .link {
            color: black;
        }
    }
    .contact-num {
        position: absolute;
        top: 0px;
        right: 30px;
        text-decoration: underline;
        a {
            color: black;
        }
    }
    .head-contact {
        position: absolute;
        margin: 10px;
        right: 0;
        top: 0;
        color: var(--dark-color);
        a {
          text-decoration: underline;
        }
        svg {
          margin-right: 5px;
        }
      }
      .navbar {
        background-color: white;
      }
      .navbar-brand {
        margin: 0%;
        padding: 0%;
        height: 18vh;
      }
      .navbar-toggler {
        border-style: none;
        text-decoration: none;
        border: none;
        color: #fafafa;
      }
      .nav-link {
        color: var(--dark-color);
        margin: 0.6rem;
        font-weight: bold;
      }
      /* Dropdown Button */
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 13rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: center;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
}